app/static/.webassets-cache
app/static/gen
__pycache__
__init__.pyc
*.pyc
*.swp
*.swo
tags
database.yml
application.yml
data
/models
.idea/
resources/matlab/models
resources/matlab/logs
!resources/matlab/models/README.md