development:
  user: postgres
  host: localhost
  port: 5432
  database: gis
  password: postgres

test:
  user: postgres
  host: localhost
  port: 5432
  database: gis
  password: postgres

production:
  user: postgres
  host: localhost
  port: 5432
  database: gis
  password: postgres
