{% extends 'admin/base.html' %}
{% block content %}

<div class="container">
	<div>
		<a class="btn btn-primary" href="/admin/users/new">Add User</a>
	</div>
	<table class="table table-striped table-hover">
		<thead>
			<tr>
				<td>Email</td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
		</thead>
		<tbody>
			{% for user in users.items %}
			<tr class="crud_row">
				<td>{{ user.email }}</td>
				<td></td>
				<td></td>
				<td>
					<a class="btn btn-primary" href="/admin/users/edit/{{user.id}}">Edit</a> 
					<a class="btn btn-danger" href="/admin/users/delete/{{user.id}}">Delete</a>
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>	

	{% if users.has_prev %}<a href="{{ url_for('admin_users', page=users.prev_num)  }}">&lt;&lt; Prev</a>{% else %}&lt;&lt; Prev{% endif %} | 
	{% if users.has_next %}<a href="{{ url_for('admin_users', page=users.next_num)  }}">Next &gt;&gt;</a>{% else %}Next &gt;&gt;{% endif %}
</div>

{% endblock %}
