{% extends 'admin/base.html' %}
{% block content %}
<div class="container center-block clearfix">
	<h3>Edit Powerline</h3>
	<form id="powerline-edit-form" class="col-md-4" action="/admin/powerlines/update/{{powerline.id}}" method="post" name="new_powerline">
		{{ form.hidden_tag() }}

		<div class="form-group">
			<label class="control-label" for="point_field_name">LatLngs</label>
			{{ form.latlngs(class_="form-control ", placeholder="48.11 11.56, 48.12 11.61", autocomplete="off" )}}
		</div>
		<div class="form-group">
			<label class="control-label" for="powerline_field_properties">Properties</label>
			{{ form.properties(class_="form-control json-propeties-textarea", rows="10" ) }}
			<button type="button" class="btn btn-default btn-xs textarea-json-beautify-button">Beautify</button>
		</div>

		<button type="submit" class="btn btn-success">Save</button>
		<a href="/admin/powerlines"><button type="button" id="cancel-edit" class="btn btn-danger">Cancel</button></a>			
	</form>
	
	<div id="map" style="width:500px; height:500px;"></div>
	
</div>
{% endblock %}

{% block scripts %}
{{super()}}
<script>

	$(document).ready(function(){
		var map = L.map('map');

		var coords 	= latlngStringToCoords("{{ powerline.latlngs }}");
		var polyline	= L.polyline(coords, {color: 'red'}).addTo(map);

		L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
			attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>',
			maxZoom: 18
		}).addTo(map);

		// Initialise the FeatureGroup to store editable layers
		var drawnItems = new L.FeatureGroup();
		map.addLayer(drawnItems);
		drawnItems.addLayer(polyline)

		// Initialise the draw control and pass it the FeatureGroup of editable layers
		var drawControl = new L.Control.Draw({
			edit: {
				featureGroup: drawnItems,
				remove: false
						    
			},
			draw: {
				polyline: false,
				polygon: false,
				circle: false,
				rectangle: false,
				marker: false,
			},
		});
		map.addControl(drawControl);
		map.fitBounds(polyline.getBounds());


		$('input[name=latlngs]').keyup(function(){
			var powerline = $(this).val();
			polyline.setLatLngs(latlngStringToCoords(powerline));
			map.fitBounds(polyline.getBounds());
			$('form button').fadeIn();
		})

		map.on('draw:edited', function(e){
			$('input[name=latlngs]').val(polylineToString(polyline));
			$('form button').fadeIn();
		});

	});
</script>
{% endblock %}
