{% extends 'admin/base.html' %}
{% block content %}

<div class="container center-block clearfix">
	<h3>Edit Powerline</h3>
	<form class="col-md-4" action="/admin/powerlines/update/{{id}}" method="post" name="new_powerline">
		{{ form.hidden_tag() }}

		<div class="form-group">
			<label class="control-label" for="point_field_name">LatLngs</label>
			{{ form.latlngs(class_="form-control ", placeholder="48.11 11.56, 48.12 11.61") }}
		</div>

		<button type="submit" class="btn btn-default">Submit</button>
	</form>
	
	<div id="map" data-powerline="{{ form.latlngs.data }}" style="width:500px; height:500px;"></div>
	
</div>

{% endblock %}