{% extends 'admin/base.html' %}
{% block content %}
<div class="container center-block clearfix">
	<h3>Edit Powerline</h3>
	<form class="col-md-4" action="/admin/powerlines/update/{{id}}" method="post" name="new_powerline">
		{{ form.hidden_tag() }}

		<div class="form-group">
			<label class="control-label" for="point_field_name">LatLngs</label>
			{{ form.latlngs(class_="form-control ", placeholder="48.11 11.56, 48.12 11.61") }}
		</div>

		<button type="submit" class="btn btn-default">Submit</button>
	</form>
	
	<div id="map" data-powerline="{{ form.latlngs.data }}" style="width:500px; height:500px;"></div>
	
</div>
{% endblock %}

{% block scripts %}
{{super()}}
<script>

	$(document).ready(function(){
		L.Icon.Default.imagePath = APP_IMAGES_URL;


		var map = L.map('map');

		var powerline = $(map.getContainer()).data('powerline');

		if(powerline != ""){
			var coords 		= latlngStringToCoords(powerline);
			var polyline 	= L.polyline(coords, {color: 'red'}).addTo(map);
		}

		L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
			attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>',
			maxZoom: 18
		}).addTo(map);

		map.fitBounds(polyline.getBounds());


		$('input[name=latlngs]').keyup(function(){
			if(!polyline){

			}
			var powerline = $(this).val();
			polyline.setLatLngs(latlngStringToCoords(powerline));
		})
	})
</script>
{% endblock %}