{% extends 'admin/base.html' %}
{% block content %}

<div class="container">
	<div>
		<a class="btn btn-primary" href="/admin/points/new">Add Point</a>
	</div>
	<table class="table table-striped table-hover">
		<thead>
			<tr>
				<td>ID</td>
				<td>Latitude</td>
				<td>Longitude</td>
				<td></td>
			</tr>
		</thead>
		<tbody>
			{% for point in points.items %}
			<tr class="crud_row">
				<td>{{ point.id }}</td>
				<td>{{ point.shape().x }}</td>
				<td>{{ point.shape().y }}</td>
				<td class="text-right">
					<a class="btn btn-primary" href="/admin/points/edit/{{point.id}}">Edit</a> 
					<a class="btn btn-danger" href="/admin/points/delete/{{point.id}}">Delete</a>
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>	
	<nav>
		<ul class="pager">
		{% if points.has_prev %}
            <li class="previous"><a href="{{ url_for('admin_points', page=1) }}">First</a></li>
			<li class="previous"><a href="{{ url_for('admin_points', page=points.prev_num) }}"><span aria-hidden="true">&larr;</span> Prev</a></li>
		{% else %}
            <li class="previous disabled"><a href="#">First</a></li>
			<li class="previous disabled"><a href="#"><span aria-hidden="true">&larr;</span> Prev</a>	
		{% endif %}
            <li>Page {{ points.page }} / {{ points.pages }} ({{ points.total }} points total)</li>
		{% if points.has_next %}
            <li class="next"><a href="{{ url_for('admin_points', page=points.pages) }}">Last</a></li>
			<li class="next"><a href="{{ url_for('admin_points', page=points.next_num) }}">Next <span aria-hidden="true">&rarr;</span></a></li>
		{% else %}
            <li class="next disabled"><a href="#">Last</a></li>
			<li class="next disabled"><a href="#">Next <span aria-hidden="true">&rarr;</span></a>	
		{% endif %}
			
		</ul>
	</nav>

</div>

{% endblock %}
