{% extends 'bootstrap/base.html' %}

{% block styles %}
{{super()}}

{% assets "admin_application_css" %}
<link rel="stylesheet" href="{{ ASSET_URL }}" />
{% endassets %}

{% endblock %}

{% block scripts %}
{{super()}}
{% assets "admin_application_js" %}

<script>
	APP_IMAGES_URL = "{{ url_for('static', filename='images')}}"
</script>
<script type="text/javascript" src="{{ ASSET_URL }}"></script>

{% endassets %}


{% endblock %}

{% block navbar %}

<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="container">
		<div id="navbar" class="collapse navbar-collapse">
			<div id="login-nav-info" class="navbar-right">{{ current_user.email }} <a href="/admin/logout">Logout</a> </div>
			<ul class="nav navbar-nav">
				<li><a href="/admin/points">Points</a></li>
				<li><a href="/admin/powerlines">Powerlines</a></li>
				<li><a href="/admin/submissions">Submissions</a></li>
				<li><a href="/admin/users">Users</a></li>
			</ul>
		</div>
	</div>
</nav>

{% endblock %}

{% block content %}{% endblock %}
