{% extends 'bootstrap/base.html' %}

{% block styles %}
{{super()}}

{% assets "admin_application_css" %}
<link rel="stylesheet" href="{{ ASSET_URL }}" />
{% endassets %}

{% endblock %}

{% block navbar %}

<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="container">
		<div id="navbar" class="collapse navbar-collapse">
		</div>
	</div>
</nav>

{% endblock %}

{% block content %}

{% with messages = get_flashed_messages() %}
	{% if messages %}
		{% for message in messages %}
			<div>{{ message  }}</div>
		{% endfor %}
	{% endif %}
{% endwith %}

<div class="container"><a href="/admin/do_login"><button class="btn-google-plus">Login With Google+</button></a>
</div>
{% endblock %}

