<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title></title>
</head>
<body>
	<h1>Login Here!</h1>
	<span id="signinButton">
		  <span
			     class="g-signin"
				    data-callback="signinCallback"
				    data-clientid="498377614550-0q8d0e0fott6qm0rvgovd4o04f8krhdb.apps.googleusercontent.com"
				    data-cookiepolicy="single_host_origin"
				    data-requestvisibleactions="http://schema.org/AddAction"
				    data-scope="https://www.googleapis.com/auth/plus.login">
				  </span>
	</span>
	
	<script src="https://apis.google.com/js/client:platform.js" async defer></script>
</body>
</html>
