{% extends 'admin/base.html' %}
{% block content %}

<div class="container">
    <div class="dropdown pull-right">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        Filter submissions
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="submissionFilterMenu">
            <li><a href="/admin/submissions?filter=1">Not revised</a></li>
            <li><a href="/admin/submissions?filter=2">Revised but not approved</a></li>
            <li><a href="/admin/submissions?filter=3">Revised and approved</a></li>
        </ul>
    </div>
	<table class="table table-striped table-hover">
		<thead>
			<tr>
				<td>Name</td>
				<td># Of Points</td>
				<td></td>
			</tr>
		</thead>
		<tbody>
			{% for submission in submissions.items %}
			<tr class="crud_row">
				<td>{{ submission.submission_id }}</td>
				<td>{{ submission.number_of_points }}</td>
				<td class="text-right">
					<a class="btn btn-primary" href="/admin/submissions/revise/{{submission.id}}">Revise</a> 
				</td>
			</tr>
            {% else %}
            <tr>
                <td colspan="2" class="text-center"><em>No matching submissions</em></td>
            </tr>
			{% endfor %}
		</tbody>
	</table>	
	<nav>
        <ul class="pager">
		{% if submissions.has_prev %}
            <li class="previous"><a href="{{ url_for('submissions_index', page=1, filter=submission_filter) }}">First</a></li>
			<li class="previous"><a href="{{ url_for('submissions_index', page=submissions.prev_num, filter=submission_filter) }}"><span aria-hidden="true">&larr;</span> Prev</a></li>
		{% else %}
            <li class="previous disabled"><a href="#">First</a></li>
			<li class="previous disabled"><a href="#"><span aria-hidden="true">&larr;</span> Prev</a>
		{% endif %}
            <li>Page {{ submissions.page }} / {{ submissions.pages }} ({{ submissions.total }} submissions total)</li>
		{% if submissions.has_next %}
            <li class="next"><a href="{{ url_for('submissions_index', page=submissions.pages, filter=submission_filter) }}">Last</a></li>
			<li class="next"><a href="{{ url_for('submissions_index', page=submissions.next_num, filter=submission_filter) }}">Next <span aria-hidden="true">&rarr;</span></a></li>
		{% else %}
            <li class="next disabled"><a href="#">Last</a></li>
			<li class="next disabled"><a href="#">Next <span aria-hidden="true">&rarr;</span></a>
		{% endif %}

		</ul>
	</nav>

</div>

{% endblock %}
