{% extends 'admin/base.html' %}
{% block content %}

<div class="container center-block clearfix">
	<h3>Revise Submission</h3>

	<div class="row">
	  <div class="col-md-7">
	    <div id="map" style="width:648px; height:648px;"></div>
	  </div>
	   <div class="col-md-5">
	     <p>
	       Received: {{ submission.points | length }} / {{ submission.number_of_points }} expected points
	     </p>
       <p>
        <button class="btn btn-success" data-toggle="modal" data-target="#mergeModalForm">Merge Into New Point</button>
        <!-- <button class="btn btn-default" data-toggle="modal" data-target="#mergeModalForm">Merge Into Existing Point</button> -->
           <!-- pictures -->
       <div id="pictures">
           {% for point in submission.points %}
               <div style="margin-bottom: 4px;">
                   <a href="/static/uploads/submissions/{{ point.submission_id }}/{{ point.id }}.png"><img src="{{ ("submissions/" ~ point.submission_id ~ "/" ~ point.id ~ ".png")|resize('350x350') }}" target="_blank" style="max-width: 350px; max-height: 350px;"></a>
                   <br />Point ID: {{ point.id }}
                   <br />Latitude: {{ point.latitude }}
                   <br />Longtitude: {{ point.longitude }}
               </div>
           {% endfor %}
       </div>

        <!-- Modal -->
        <div class="modal fade" id="mergeModalForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Fill the resulting point data</h4>
                <div class="alert alert-info" role="alert">The mid-point has been calculated by default, feel free to change the resulting point coordinates as you wish</div>
              </div>
              <form action="/admin/submissions/merge_new/{{ submission.id }}" method="POST">
                      <div class="modal-body">
                        {{ form.hidden_tag() }}
                        <div class="form-group">
                          <label class="control-label" for="point_field_latitude">Latitude</label>
                          {{ form.latitude(class_="form-control", value=mid_point[0], placeholder="48.1333") }}
                        </div>
                        <div class="form-group">
                          <label class="control-label" for="point_field_longitude">Longitude</label>
                          {{ form.longitude(class_="form-control", value=mid_point[1], placeholder="11.5667") }}
                        </div>
                        <div class="form-group">
                          <label class="control-label" for="point_field_properties">Properties</label>
                          {{ form.properties(class_="form-control json-propeties-textarea", rows="10" ) }}
                          <button type="button" class="btn btn-default btn-xs textarea-json-beautify-button">Beautify</button>
                        </div>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Merge</button>
                      </div>
              </form>
            </div>
          </div>
        </div>
       </p>
	   </div>
	</div>
</div>

{% endblock %}
{% block scripts %}
{{super()}}
{% raw %}
<script id="marker-popup-template" type="text/x-handlebars-template">
        <div class="panel panel-default">
          <div class="panel-heading">Point {{ point.id }}</div>
          <div class="panel-body">
                <p><strong>LatLng:</strong> {{ point.latlng }}</p>
                <p><strong>Photo:</strong><img src="/static/uploads/submissions/{{submission.id}}/{{point.id}}.png" width="50" height="50"/></p>
                <p><strong>Tags:</strong> {{ json point.tags }}</p>
          </div>
        </div>
</script>
{% endraw %}
<script>
  $(document).ready(function(){
    Handlebars.registerHelper('json', function(context) {
      return JSON.stringify(context, null, 4);
    });

    var source   = $("#marker-popup-template").html();
    var markerPopupTemplate = Handlebars.compile(source);

    var markers = [];
    {% for point in submission.points %}
    var pointData = {{ point.serialize() | tojson }}
    var popupData = { submission: {{ submission.serialize() | tojson }}, point : pointData }
    var popup = markerPopupTemplate(popupData);
    var marker = new L.Marker([{{ point.latitude }}, {{ point.longitude }}]);
    marker.bindPopup(popup);
    markers.push(marker);
    {% endfor %}

    var map = L.map('map').setView([48.11, 11.0], 5);
    L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>',
        maxZoom: 18
        }).addTo(map);

    // Initialise the FeatureGroup to store editable layers
    var drawnItems = new L.FeatureGroup();
    map.addLayer(drawnItems);
    for(var i = 0; i < markers.length; i++){
      drawnItems.addLayer(markers[i]);
    }
    map.fitBounds(drawnItems.getBounds());
  });
</script>
{% endblock %}
