{% extends 'admin/base.html' %}
{% block content %}
<script>
merge_active = false;
function toggle_merge_active() {
  if (merge_active) {
    merge_active = false;
    $('#merge_btn').removeClass('btn-success').addClass('btn-default');
  } else {
    merge_active = true;
    $('#merge_btn').removeClass('btn-default').addClass('btn-success');
  }
}
</script>
<div class="container center-block clearfix">
	<h3>Revise Submission</h3>

	<div class="row">
	  <div class="col-md-7">
	    <div id="map" style="width:648px; height:648px;"></div>
	  </div>
	   <div class="col-md-5">
         {% if submission_merged %}
           <p>
             This is a merged submission. No further editing possible
           </p>
         {% else %}
           <button class="btn btn-primary" data-toggle="modal" data-target="#reviseModalForm">Revise point</button>
           <button id="merge_btn" class="btn btn-default" onclick="toggle_merge_active()">Merge Into existing Point</button>
         {% endif %}
         <!-- pictures -->
         <div id="pictures">
           <br />Point ID: {{ point.id }}
           <br />Latitude: {{ point.latitude }}
           <br />Longtitude: {{ point.longitude }}
           {% for picture in point.pictures %}
             <a href="/{{ picture.filepath }}"><img src="/{{ picture.filepath }}" target="_blank" style="max-width: 350px; max-height: 350px;"></a>
           {% endfor %}
         </div>
       </div>

        <!-- Modal -->
        <div class="modal fade" id="reviseModalForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Fill the resulting point data</h4>
              </div>
              <form action="/admin/submissions/accept_submission/{{ submission.id }}" method="POST">
                      <div class="modal-body">
                        {{ form.hidden_tag() }}
                        <div class="form-group">
                          <label class="control-label" for="point_field_latitude">Latitude</label>
                          {{ form.latitude(class_="form-control", value=mid_point[0], placeholder="48.1333") }}
                        </div>
                        <div class="form-group">
                          <label class="control-label" for="point_field_longitude">Longitude</label>
                          {{ form.longitude(class_="form-control", value=mid_point[1], placeholder="11.5667") }}
                        </div>
                        <div class="form-group">
                          <label class="control-label" for="point_field_properties">Properties</label>
                          {{ form.properties(class_="form-control json-propeties-textarea", rows="10" ) }}
                          <button type="button" class="btn btn-default btn-xs textarea-json-beautify-button">Beautify</button>
                        </div>
                        <p>
                            Possible power_element_tags:<br /> "Transfomer", "Substation", "Generator", "PV or Wind Farm", "Other"
                        </p>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-danger pull-left" data-toggle="modal"
                                data-target="#deleteModalForm">
                            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                        </button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <a class="btn btn-primary" href="/admin/submissions/reject/{{submission.id}}">
                           Reject</a>
                        <button type="submit" name="btn" value="accept_go_overview" class="btn btn-primary">
                            Accept
                        </button>
                        <button type="submit" name="btn" value="accept_go_next" class="btn btn-primary">
                            Accept and go to next
                        </button>
                      </div>
              </form>
            </div>
          </div>
        </div>






       <div class="modal fade" id="mergeModalForm" tabindex="-1" role="dialog" aria-labelledby="mergeModal">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="mergeModal">Merge new point with old point <span id="old_point_number"></span></h4>
              </div>
              <form action="/admin/submissions/merge/{{ submission.id }}" method="POST">
                      <div class="modal-body">
                        {{ form.merge_with() }}
                        <div class="row">
                          <div class="col-md-6">
                            <p>Old Point:</p>
                            <b>Latitude:</b> <span id="old_point_lat"></span><br>
                            <b>Longitude:</b> <span id="old_point_lng"></span><br>
                            <b>Properties:</b>
                            <p id="old_point_properties"></p>
                          </div>
                          <div class="col-md-6">
                            <p>New Point:</p>
                            <b>Latitude:</b> {{ mid_point[0] }}<br>
                            <b>Longidude:</b> {{ mid_point[1] }}<br>
                            <b>Properties:</b>
                            <p>{{ form.properties.data }}</p>
                          </div>
                        </div>
                        {{ form.hidden_tag() }}
                        <div class="form-group">
                          <label class="control-label" for="point_field_latitude">Latitude</label>
                          {{ form.latitude(class_="form-control", value=mid_point[0]) }}
                        </div>
                        <div class="form-group">
                          <label class="control-label" for="point_field_longitude">Longitude</label>
                          {{ form.longitude(class_="form-control", value=mid_point[1]) }}
                        </div>
                        <div class="form-group">
                          <label class="control-label" for="point_field_properties">Properties (of new point, please edit if necessary</label>
                          {{ form.properties(class_="form-control json-propeties-textarea", rows="10" ) }}
                          <button type="button" class="btn btn-default btn-xs textarea-json-beautify-button">Beautify</button>
                        </div>
                        <p>
                            Possible power_element_tags:<br /> "Transfomer", "Substation", "Generator", "PV or Wind Farm", "Other"
                        </p>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Merge</button>
                      </div>
              </form>
            </div>
          </div>
        </div>









       <div class="modal fade" id="deleteModalForm" tabindex="-1" role="dialog" aria-labelledby="deleteModal">
           <div class="modal-dialog" role="document">
               <div class="modal-content">
                   <div class="modal-header">
                       <h4 class="modal-title" id="deleteModal">Delete submission {{ submission.submission_id }}</h4>
                   </div>
                   <div class="modal-body">
                       <p>Are you shure to delete submission {{ submission.submission_id }}?<br />
                           This will be final and can't be undone</p>
                   </div>
                   <div class="modal-footer">
                       <a class="btn btn-danger pull-left" href="/admin/submissions/delete/{{submission.id}}">
                           Delete permanently</a>
                       <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                   </div>
               </div>
           </div>
       </div>
       <!--</p>-->
	   </div>
	</div>
</div>

{% endblock %}
{% block scripts %}
{{super()}}
{% raw %}
<script id="new-marker-popup-template" type="text/x-handlebars-template">
        <div class="panel panel-default">
          <div class="panel-heading">Point {{ point.id }}</div>
          <div class="panel-body">
                <p><strong>LatLng:</strong> {{ point.latlng }}</p>
                <p><strong>Photo:</strong> <img src="/static/uploads/submissions/{{submission.id}}/{{point.id}}.png" width="50" height="50"/></p>
                <p><strong>Tags:</strong> {{ json point.tags }}</p>
          </div>
        </div>
</script>

<script id="marker-popup-template" type="text/x-handlebars-template">
        <div class="panel panel-default">
          <div class="panel-heading">Point {{ id }}</div>
          <div class="panel-body">
            <p><strong>LatLng:</strong> {{ latlng }}</p>
            {{#if pictures}}
              {{#each pictures}}
                <p><strong>Photo {{ add_one @key }}:</strong> <a href="/{{ this.filepath }}" target="_blank">Open photo in new tab</a></p>
              {{/each}}
            {{/if}}
            <p><strong>Properties:</strong> {{ json properties }}</p>
          </div>
        </div>
</script>
{% endraw %}
<script>
  $(document).ready(function(){

    Handlebars.registerHelper('json', function(context) {
      return JSON.stringify(context, null, 4);
    });

    Handlebars.registerHelper('add_one', function(context) {
      return context + 1;
    });

    var source = $("#new-marker-popup-template").html();
    var newMarkerPopupTemplate = Handlebars.compile(source);
    source = $("#marker-popup-template").html();
    var markerPopupTemplate = Handlebars.compile(source);


    var redIcon = new L.Icon.Default({iconUrl: '/static/images/marker-icon-red-2x.png'});
    //var newMarkers = [];
    var pointData = {{ point.serialize() | tojson }};
    var popupData = { submission: {{ submission.serialize() | tojson }}, point : pointData };
    var popup = newMarkerPopupTemplate(popupData);
    // set zIndexOffset to set the new marker on top of any other markers or cluster groups
    //var newMarker = new L.Marker([{{ point.latitude }}, {{ point.longitude }}], {icon: redIcon, zIndexOffset: 1000});
    var newMarker = new L.Marker([{{ point.latitude }}, {{ point.longitude }}], {icon: redIcon});
    newMarker.bindPopup(popup);
    //newMarkers.push(newMarker);

    var map = L.map('map').setView([{{ point.latitude }}, {{ point.longitude }}], 18);
    L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>',
        maxZoom: 18
        }).addTo(map);

    // add already accepted markers
    var markers = new L.MarkerClusterGroup();
	map.addLayer(markers);
	var clusterGroup = new L.LayerGroup();
	map.addLayer(clusterGroup);
    loadMapFragment();

    // Initialise the FeatureGroup to store editable layers
    var drawnItems = new L.FeatureGroup();
    map.addLayer(drawnItems);
    //for(var i = 0; i < newMarkers.length; i++){
    //  drawnItems.addLayer(newMarkers[i]);
    //}

    // update markers on map movement
    var loadFragmentDebounced = _.debounce(loadMapFragment, 1000);
    map.on('moveend', function(){
      loadFragmentDebounced();
    });


    function loadMapFragment(){
      if(map.getZoom() > 11) {
        $.ajax({
          url : "/points/with_properties",
          data: {
            "bounds" : map.getBounds().toBBoxString()
          },
          success : function(data){
            markers.clearLayers();
            clusterGroup.clearLayers();
            for(var i = 0; i < data.length; i++){
              if (data[i].approved == true) {
                var marker = new L.Marker(data[i]['latlng']);
                var popup = L.popup().setContent(markerPopupTemplate(data[i]));
                // popup.setLatLng(marker.getLatLng());
                marker.point_id = data[i]['id'];
                marker.properties = data[i]['properties'];
                marker.bindPopup(popup);
                marker.on('click', function(e){
                  if (merge_active) {
                    $('#mergeModalForm').modal('toggle');
                    $('.modal-body #old_point_lng').html(e.latlng.lng);
                    $('.modal-body #old_point_lat').html(e.latlng.lat);
                    $('.modal-body #old_point_properties').html(JSON.stringify(e.target.properties, null, 1));
                    $('.modal-body #merge_with').val(e.target.point_id);
                    $('.modal-title #old_point_number').html(e.target.point_id);
                  } else {
                    // popup.setLatLng(e.latlng).openOn(map);
                  }
                });
                markers.addLayer(marker);
              }
            }
            markers.addLayer(newMarker);
          }
        });
      } else {
        $.ajax({
          url : "/points/clustered",
          data : {
            "zoom" : map.getZoom(),
            "bounds" : map.getBounds().toBBoxString()
          },
          success : function(data){
            markers.clearLayers();
            clusterGroup.clearLayers();
            for(var i = 0; i < data.length; i++){
              var marker = new L.Marker(data[i]['latlng'], {
                icon: iconCreateFunction(data[i])
              });
              clusterGroup.addLayer(marker);
              marker.on('click', function(e){
                map.setView(e.target.getLatLng(), map.getZoom() + 1);
              });
            }
          }
        });
    }
  }

  var iconCreateFunction = function (cluster) {
    var count = cluster.count;
    // cluster icon
    var c = 'marker-cluster-';
    if (count < 10) {
      c += 'small';
    } else if (count < 100) {
      c += 'medium';
    } else {
      c += 'large';
    }

    return new L.DivIcon({
      html: '<div><span>' + count + '</span></div>',
      className: 'marker-cluster ' + c,
      iconSize: new L.Point(40, 40)
    });
  };

});

</script>
{% endblock %}
