body {
  padding-top: 60px;
}

#powerline-edit-form button {
	display: none;
}

#login-nav-info {
	color: #9d9d9d;
	margin-top: 15px;
}

.textarea-json-beautify-button {
	top:-25px;
	left:5px;
	position:relative;
}

.json-propeties-textarea {
	padding-bottom: 27px;
}
