.crud_list {
    width: 100%;
}

thead td {
    font-weight: bold;
}

#map-control-panel {
    display: none;
}

.panel {
    border-radius: 0;
    margin-bottom: 0;
}

.save-map-entity {
    display: none;
}

.cancel-map-entity-edit {
    display: none;
}

#sidebar img {
    margin-bottom: 3px;
    width: 100%;
}

.sidebar-tags-table {
    max-height: 300px;
    overflow: auto;
}

td, th {
    padding: 2px;
}

.default.marker-cluster {
    background-color: red;
}

.highlighted.marker-cluster, .sidebar-highlighted.marker-cluster {
    background-color: blue;
}

.export-highlighted.marker-cluster {
    background-color: black;
}

.checkbox label:after,
.radio label:after {
    content: '';
    display: table;
    clear: both;
}

.checkbox .cr,
.radio .cr {
    position: relative;
    display: inline-block;
    border: 1px solid #a9a9a9;
    border-radius: .25em;
    width: 1.3em;
    height: 1.3em;
    float: left;
    margin-right: .5em;
}

.radio .cr {
    border-radius: 50%;
}

.checkbox .cr .cr-icon,
.radio .cr .cr-icon {
    position: absolute;
    font-size: .8em;
    line-height: 0;
    top: 50%;
    left: 20%;
}

.radio .cr .cr-icon {
    margin-left: 0.04em;
}

.checkbox label input[type="checkbox"],
.radio label input[type="radio"] {
    display: none;
}

.checkbox label input[type="checkbox"] + .cr > .cr-icon,
.radio label input[type="radio"] + .cr > .cr-icon {
    opacity: 0;
}

.checkbox label input[type="checkbox"]:checked + .cr > .cr-icon,
.radio label input[type="radio"]:checked + .cr > .cr-icon {
    opacity: 1;
}

.checkbox label input[type="checkbox"]:disabled + .cr,
.radio label input[type="radio"]:disabled + .cr {
    opacity: .5;
}

.tab-pane {
    padding: 5px;
}

.panel-heading-filter {
    cursor: pointer;
}

.country-extra-links {
    color: black !important;
    font-size: 20px;
}

.panel-stats {
    margin-bottom: 5px
}

#downloader-info-form {
    padding-bottom: 10px;
}

.form-group.required label:after {
    content: " *";
    color: red;
}

.line-missing-data-panel {
    width: 300px;
}

.panel .dl-horizontal {
    margin-left: -10px;
}

.panel .dl-horizontal dt {
    width: 140px;
}

.panel .dl-horizontal dd {
    width: 100px;
}

.missing0, .missingtrue {
    color: red;
}

.suggested0 {
    color: blue;
}

.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.info h4 {
    margin: 0 0 5px;
    color: #777;
}

.legend {
    line-height: 18px;
    color: #555;
}

.legend .box {
    width: 15px;
    height: 15px;
    float: left;
    margin-right: 8px;
}


/*.legend {*/
    /*line-height: 30px;*/
    /*color: #555;*/
    /*font-size: 30px;*/
/*}*/

/*.legend .box {*/
    /*width: 25px;*/
    /*height: 25px;*/
    /*float: left;*/
    /*margin-right: 8px;*/
/*}*/

/*.legend h4 {*/
   /*font-size: 30px;*/
/*}*/