.crud_list {
	width: 100%;

	thead td{
		font-weight: bold;	
	}
}

#map-control-panel {
  display: none;

  .panel {
    border-radius: 0px;
    margin-bottom: 0px;
  }

  .save-map-entity {
    display:none;
  }
  
  .cancel-map-entity-edit {
    display:none;
  }
}

#sidebar img{
        margin-bottom: 3px;
    }
