<html>
<head>
	{% if title %}
	<title>{{ title }} - GIS</title>
	{% else %}
	<title>Welcome to GIS</title>
	{% endif %}

	<script>
		APP_IMAGES_URL = "{{ url_for('static', filename='images')}}"
	</script>
	{% assets "application_js" %}
	<script type="text/javascript" src="{{ ASSET_URL }}"></script>
	{% endassets %}
	{% assets "application_css" %}
	<link rel="stylesheet" href="{{ ASSET_URL }}" />
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
	{% endassets %}
	<style>
		html, body {
			width: 100%;
			height: 100%;
			margin: 0;
			padding: 0;
		}
		#map {
			width: 100%;
			height: 100%;
		}
	</style>
</head>
<body>
	{% block content %}{% endblock %}
</body>
</html>
