{% for country, country_stat in countries_stats|dictsort %}
    <div class="panel panel-stats {{ 'panel-primary' if country == 'aaa' else 'panel-info' }}">
        <div class="panel-heading">
            <h3 class="panel-title">
                {% if country == 'aaa' %}
                    Sum of All Selected Countries
                {% else %}
                    {{ country|title|replace("-", " ") }}
                {% endif %}
            </h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    <dl class="dl-horizontal">
                        <dt></dt>
                        <dd><strong>Inferred </strong></dd>
                        <dt>Generators Count</dt>
                        <dd>{{ country_stat['plants_count'] }}</dd>
                        <dt>Stations Count</dt>
                        <dd>{{ country_stat['substations_count'] }}</dd>
                        <dt>Powerlines Length</dt>
                        <dd>{{ "{:,.0f} km".format(country_stat['all_line_length_with_duplicates']) }}</dd>
                    </dl>
                    {% if country_stat['length_by_voltages']|length %}
                        <div style="overflow-x:auto;">
                            <h5>Powerline length by voltage of powerline.</h5>
                            <table class="table table-hover table-striped table-responsive">
                                <thead>
                                <tr>
                                    <th>Voltage (kV)</th>
                                    <th>Length (km)</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for voltage, length in country_stat['length_by_voltages']|dictsort %}
                                    <tr>
                                        <td>{{ "{:,.0f}".format(voltage / 1000) }}</td>
                                        <td>{{ "{:,.0f}".format(length) }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    {% endif %}
                    {% if country_stat['relation_length_by_voltages']|length %}
                        <div style="overflow-x:auto;">
                            <h5>Powerline length by voltage of power circuit.</h5>
                            <table class="table table-hover table-striped table-responsive">
                                <thead>
                                <tr>
                                    <th>Voltage (kV)</th>
                                    <th>Length (km)</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for voltage, length in country_stat['relation_length_by_voltages']|dictsort %}
                                    <tr>
                                        <td>{{ "{:,.0f}".format(voltage / 1000) }}</td>
                                        <td>
                                            {{ "{:,.0f}".format(length) }}
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endfor %}