{% extends 'bootstrap_base.html' %}

{% block styles %}
    {{ super() }}
    {% assets "application_css" %}
        <link rel="stylesheet" href="{{ ASSET_URL }}"/>
    {% endassets %}
    <style>
        html, body {
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
        }

        #map {
            width: 100%;
            height: 100%;
        }
    </style>
{% endblock %}
{% block scripts %}
    {{ super() }}
    <script>
        APP_IMAGES_URL = "{{ url_for('static', filename='images')}}"
    </script>
    {% assets "application_js" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
{% endblock %}

{% block content %}
    <div id="map-control-panel"></div>
    <div id="map"></div>
    <div id="sidebar"></div>
    <div id="transnet-filter-sidebar">
        {% include 'transnet_filter.html' %}
    </div>
    <div id="transnet-operations-sidebar">
        {% include 'transnet_operations.html' %}
    </div>
    <div id="transnet-validations-sidebar">
        {% include 'transnet_evaluations.html' %}
    </div>
    <div id="contribution-filter-sidebar">
        {% include 'contribution_filter.html' %}
    </div>

    {% raw %}
    <script id="marker-sidebar-template" type="text/x-handlebars-template">
        <div class="sidebar"><h1>Point {{ id }}</h1></div>
        <div><p><strong>LatLng:</strong> {{ latlng }}</p>
            <p><strong>Tags:</strong> {{ json tags }}</p>
            {{#each pictures}}
            <img src="{{ this.filepath }}">
            (made by user {{ this.username }})
            {{/each}}
            <p><a href="index?point_id={{ id }}&lat={{ latlng.[0] }}&long={{ latlng.[1] }}&zoom=18">Share Point</a></p>
            <p><a href="/admin/points/edit/{{id}}?redirect_back=true">
                <button class="btn btn-default">Edit</button>
            </a></p>
        </div>
        <br/>
        OSM-ID:
        <!-- OSMAPI_DOMAIN config variable needs to be rendered by Jinja2
        templates. So do +endraw+ statement, print the config variable
        and open +raw+ statement -->
        <a href="http://{% endraw %}{{ config['OSMAPI_CONFIG']['domain'] }}{% raw %}/node/{{ osmid }}"
           target="_blank">
            {{ osmid }}
        </a>
    </script>
    {% endraw %}
    {% raw %}
    <script id="polyline-popup-template" type="text/x-handlebars-template">
        <div class="panel panel-default">
            <div class="panel-heading">Powerline {{ id }}</div>
            <div class="panel-body">
                <p><strong>Tags:</strong> {{ json tags }}</p>
                <p><a href="/admin/powerlines/edit/{{id}}?redirect_back=true">
                    <button class="btn btn-default">Edit</button>
                </a></p>
            </div>
        </div>
    </script>
    {% endraw %}
    {% raw %}
    <script id="polyline-missing-data-popup-template" type="text/x-handlebars-template">
        <div class="panel panel-default line-missing-data-panel">
            <div class="panel-heading">Powerline {{ osm_id }}</div>
            <div class="panel-body">
                <dl class="dl-horizontal">
                    <dt>Type</dt>
                    <dd>{{ type }}</dd>
                    <dt class="missing{{ voltage }}">Voltage</dt>
                    <dd class="missing{{ voltage }}">{{ voltage }} V</dd>
                    <dt class="suggested{{ voltage }}">Possible Voltages</dt>
                    <dd class="suggested{{ voltage }}">{{ estimated_voltage }} V</dd>
                    <dt class="missing{{ cables }}">Cables</dt>
                    <dd class="missing{{ cables }}">{{ cables }}</dd>
                    <dt class="suggested{{ cables }}">Possible Cables</dt>
                    <dd class="suggested{{ cables }}">{{ estimated_cables }}</dd>
                    <dt>Length</dt>
                    <dd>{{ length }} m</dd>
                    <dt>OSM ID</dt>
                    <dd>{{ osm_id }}</dd>
                    <dt>Tags</dt>
                    <dd>{{ json tags }}</dd>
                    <dt></dt>
                </dl>
                <p>
                    <a class="btn btn-default" href="https://www.openstreetmap.org/edit#map=18/{{ lat }}/{{ lon }}"
                       target="_blank">
                        Edit on OSM
                    </a>
                </p>
            </div>
        </div>
    </script>
    {% endraw %}
    {% raw %}
    <script id="station-missing-data-popup-template" type="text/x-handlebars-template">
        <div class="panel panel-default line-missing-data-panel">
            <div class="panel-heading">Station {{ osm_id }}</div>
            <div class="panel-body">
                <dl class="dl-horizontal">
                    <dt>Type</dt>
                    <dd>{{ type }}</dd>
                    <dt class="missing{{ voltage }}">Voltage</dt>
                    <dd class="missing{{ voltage }}">{{ voltage }} V</dd>
                    <dt class="suggested{{ voltage }}">Possible Voltages</dt>
                    <dd class="suggested{{ voltage }}">{{ estimated_voltage }} V</dd>
                    <dt class="missing{{ missing_connection }}">Missing connection
                        <br> to nearby power lines
                    </dt>
                    <dd class="missing{{ missing_connection }}">
                        {{#if missing_connection}}
                        Yes
                        {{ else }}
                        No
                        {{/if}}
                    </dd>
                    <dt>OSM ID</dt>
                    <dd>{{ osm_id }}</dd>
                    <dt>Tags</dt>
                    <dd>{{ json tags }}</dd>
                    <dt></dt>
                </dl>
                <p>
                    <a class="btn btn-default" href="https://www.openstreetmap.org/edit#map=20/{{ lat }}/{{ lon }}"
                       target="_blank">
                        Edit on OSM
                    </a>
                </p>
            </div>
        </div>
    </script>
    {% endraw %}
    {% raw %}
    <script id="relation-sidebar-template" type="text/x-handlebars-template">
        <div class='relation-sidebar'>
            <div class="sidebar"><h1>Relation: OSM-ID-{{ relation.properties.osmid }}</h1></div>
            <hr/>
            <div class="sidebar-tags-table">
                <strong>Tags:</strong>
                <table>
                    <tr>
                        <th>Tag</th>
                        <th>Value</th>
                    </tr>
                    {{#each relation.properties.tags}}
                    <tr>
                        <td>{{@key}}:</td>
                        <td>{{this}}</td>
                    </tr>
                    {{/each}}
                </table>
            </div>
            <hr/>
            <div>
                {{relationSelectionButton}}
                <br/>
                <br/>
                {{relationSelectionSummaryAndActions}}
            </div>

          {{#if relation.points}}
            <hr>
            <div class="sidebar-tags-table">
                <strong>Stations:</strong>
                {{#each relation.points}}
                <hr>
                <table>
                    <tr>
                        <th>Tag</th>
                        <th>Value</th>
                    </tr>
                    {{#each this.properties.tags}}
                    <tr>
                        <td>{{@key}}:</td>
                        <td>{{this}}</td>
                    </tr>
                    {{/each}}
                </table>
                {{/each}}

            </div>
            {{/if}}
            {{#if relation.hast_points}}
            <button class="get-stations-info" data-relation-id="{{ relation.id }}"> Get Stations Info</button>
            <div id="stations-info">

            </div>
            {{/if}}
            {{#if relation.powerlines}}
            <hr>
            <div class="sidebar-tags-table">
                <strong>Power Lines:</strong>
                {{#each relation.powerlines}}
                <hr>
                <table>
                    <tr>
                        <th>Tag</th>
                        <th>Value</th>
                    </tr>
                    {{#each this.properties.tags}}
                    <tr>
                        <td>{{@key}}:</td>
                        <td>{{this}}</td>
                    </tr>
                    {{/each}}
                </table>
                {{/each}}

            </div>
            {{/if}}

      </div>
</script>

<script id="statistic-sidebar-template" type="text/x-handlebars-template">
        <div class="sidebar"><h1>Statistics</h1></div>
        <div>

            {{#unless numPowerElements.markers}}
              {{#if numPowerElements.clusteredMarkers}}
                <strong>clustered Markers:</strong> {{ numPowerElements.clusteredMarkers }} <br>
                Please zoom in to get more details!
              {{else}}
                <strong>No markers inside this area.</strong>
              {{/if}}
            {{else}}
                <strong>All markers:</strong> {{ numPowerElements.markers }}
              <ul>
                {{#if numPowerElements.transformers}}
                  <li><strong>Transformers:</strong> {{ numPowerElements.transformers }}</li>
                {{/if}}
                {{#if numPowerElements.substations}}
                  <li><strong>Substations:</strong> {{ numPowerElements.substations }}</li>
                {{/if}}
                {{#if numPowerElements.powerPoles}}
                  <li><strong>Power poles:</strong> {{ numPowerElements.powerPoles }}</li>
                {{/if}}
                {{#if numPowerElements.powerTowers}}
                  <li><strong>Power towers:</strong> {{ numPowerElements.powerTowers }}</li>
                {{/if}}
                {{#if numPowerElements.powerPlants}}
                  <li><strong>Power plants:</strong> {{ numPowerElements.powerPlants }}</li>
                {{/if}}
                {{#if numPowerElements.windPower}}
                  <li><strong>Wind power:</strong> {{ numPowerElements.windPower }}</li>
                {{/if}}
                {{#if numPowerElements.solarPower}}
                  <li><strong>Solar power:</strong> {{ numPowerElements.solarPower }}</li>
                {{/if}}
                {{#if numPowerElements.waterPower}}
                  <li><strong>Water power:</strong> {{ numPowerElements.waterPower }}</li>
                {{/if}}
                {{#if numPowerElements.otherGenerators}}
                  <li><strong>Other generators:</strong> {{ numPowerElements.otherGenerators }}</li>
                {{/if}}
                {{#if numPowerElements.others}}
                  <li><strong>Other power related markers:</strong> {{ numPowerElements.others }}</li>
                {{/if}}
              </ul>
            {{/unless}}
        </div>
        <div>
          <strong>All powerlines:</strong> {{ numberOfPowerlines }}
          {{#if numberOfPowerlines}}
            <ul>
              <li><strong>Length of all visible parts of powerlines:</strong> {{ lengthOfPowerlines.all }}</li>
                <li>
                  <strong>Length by voltage</strong>
                  <ul>
                    {{#each lengthOfPowerlines.voltage}}
                      <li><strong>{{@key}}:</strong> {{this}}</li>
                    {{/each}}
                  </ul>
                </li>
            </ul>
          {{/if}}
        </div>

</script>

<script id="add-point-sidebar-template" type="text/x-handlebars-template">
    <div class="sidebar" id="add-point"><h1>Add point</h1>
      <div id="addPowerObject">
        <p><b>Latitude:</b> {{ latlng.lat }}<br />
          <b>Longitude:</b> {{ latlng.lng }}</p>
          <p><b>Please choose the correct type:</b>
            <button name="powerType" value="transformer">Transfomer</button>
            <button name="powerType" value="substation">Substation</button>
            <button name="powerType" value="generator">Generator</button>
            <button name="powerType" value="wind">Wind Farm</button>
            <button name="powerType" value="solar">Solar PV</button>
            <button name="powerType" value="other">Other</button>
          </p>
      </div>
      <div id="addPowerDetails" style="display: none">
        <button id="backToPowerObject"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Back</button><h2 id="powerDetailsTitle"></h2>
        <form name="addPoint" id="addPoint" method="post" enctype="multipart/form-data">
          <p>
            <input type="text" name="latitude" id="latitude" value="{{ latlng.lat }}"><br>
            <input type="text" name="longitude" id="longitude" value="{{ latlng.lng }}"><br>
            Properties:<br>
            <textarea name="properties" id="properties"></textarea>
          </p>

            Picture: <input type="file" id="picture" name="picture" />
            <output id="list"></output>
            <button type="button" onclick="MapEditor.submitPoint()">Add point to OpenGridMap</button>
          </form>

        </div>
    </div>
</script>

<script id="place-point-sidebar-template" type="text/x-handlebars-template">
    <div class="sidebar" id="add-point"><h1>Add point</h1>
        <div>
            <p class="placepoint">Please click on map where you want to place your point
            </p>
        </div>

    </div>
</script>

{% endraw %}
{% endblock %}
