{% extends 'bootstrap/base.html' %}

{% block styles %}
        {{ super() }}
	{% assets "application_css" %}
	<link rel="stylesheet" href="{{ ASSET_URL }}" />
	{% endassets %}
	<style>
		html, body {
			width: 100%;
			height: 100%;
			margin: 0;
			padding: 0;
		}
		#map {
			width: 100%;
			height: 100%;
		}
	</style>
{% endblock %}
{% block scripts %}
        {{super()}}
	<script>
		APP_IMAGES_URL = "{{ url_for('static', filename='images')}}"
	</script>
	{% assets "application_js" %}
	<script type="text/javascript" src="{{ ASSET_URL }}"></script>
	{% endassets %}
{% endblock %}

{% block content %}
<div id="map-control-panel"></div>
<div id="map"></div>
<div id="sidebar"></div>

{% raw %}
<script id="marker-sidebar-template" type="text/x-handlebars-template">
        <div class="sidebar"><h1>Point {{  id }}</h1></div>
        <div><p><strong>LatLng:</strong> {{ latlng }}</p>
                <p><strong>Tags:</strong> {{ json tags }}</p>
                {{#each pictures}}
                    <img src="{{ this.filepath }}">
                {{/each}}
                <p><a href="/admin/points/edit/{{id}}?redirect_back=true"><button class="btn btn-default">Edit</button></a></p></div>
</script>
{% endraw %}
{% raw %}
<script id="polyline-popup-template" type="text/x-handlebars-template">
        <div class="panel panel-default">
          <div class="panel-heading">Powerline {{ id }}</div>
          <div class="panel-body">
                <p><strong>Tags:</strong> {{ json tags }}</p>
                <p><a href="/admin/powerlines/edit/{{id}}?redirect_back=true"><button class="btn btn-default">Edit</button></a></p>
          </div>
        </div>
</script>
{% endraw %}
{% endblock %}
