{% extends 'bootstrap/base.html' %}

{% block styles %}
        {{ super() }}
	{% assets "application_css" %}
	<link rel="stylesheet" href="{{ ASSET_URL }}" />
	{% endassets %}
	<style>
		html, body {
			width: 100%;
			height: 100%;
			margin: 0;
			padding: 0;
		}
		#map {
			width: 100%;
			height: 100%;
		}
	</style>
{% endblock %}
{% block scripts %}
        <script src="{{url_for('static', filename='javascripts/jquery-2.1.3.min.js')}}"></script>
        {{super()}}
	<script>
		APP_IMAGES_URL = "{{ url_for('static', filename='images')}}"
	</script>
	{% assets "application_js" %}
	<script type="text/javascript" src="{{ ASSET_URL }}"></script>
	{% endassets %}
{% endblock %}

{% block content %}
<div id="map-control-panel"></div>
<div id="map"></div>

{% raw %}
<script id="marker-popup-template" type="text/x-handlebars-template">
        <div class="panel panel-default">
          <div class="panel-heading">{{ name }}</div>
          <div class="panel-body">
                <p><strong>LatLng:</strong> {{ latlng }}</p>
                <p><strong>Tags:</strong> {{ json tags }}</p>
          </div>
        </div>
</script>
{% endraw %}
{% endblock %}
