<div class="page-header">
    <h3>Transnet Operations</h3>
</div>
<div class="list-group">
    <a type="button" class="list-group-item" href="javascript:void(0)" id="transnet-export-relations-xml">
        <h4 class="list-group-item-heading">Export Relations in Bound</h4>
        <p class="list-group-item-text">export relations in bound in XML format</p>
    </a>
    <a type="button" class="list-group-item" href="javascript:void(0)" id="transnet-export-relations-csv">
        <h4 class="list-group-item-heading">Export Relations in Bound</h4>
        <p class="list-group-item-text">export relations in the bound in CSV format</p>
    </a>
    <a type="button" class="list-group-item" href="javascript:void(0)" id="transnet-export-relations-countries-xml">
        <h4 class="list-group-item-heading">Export Relations of Countries</h4>
        <p class="list-group-item-text">export relations of selected countries from the Transnet filters in XML
            format</p>
    </a>
    <a type="button" class="list-group-item" href="javascript:void(0)" id="transnet-export-relations-countries-csv">
        <h4 class="list-group-item-heading">Export Relations of Countries</h4>
        <p class="list-group-item-text">export relations of selected countries from the Transnet filters in CSV
            format</p>
    </a>
    <a type="button" class="list-group-item" href="javascript:void(0)" id="transnet-export-cim-bound">
        <h4 class="list-group-item-heading">Export CIM Models in Bound</h4>
        <p class="list-group-item-text">export CIM models in bound in XML format</p>
    </a>
    <a type="button" class="list-group-item " href="javascript:void(0)" id="transnet-export-cim-countries">
        <h4 class="list-group-item-heading">Export CIM Models of Countries</h4>
        <p class="list-group-item-text">export CIM models of selected countries from the Transnet filters in XML
            format</p>
    </a>
    <a type="button" class="list-group-item " href="javascript:void(0)" id="transnet-validations">
        <h4 class="list-group-item-heading">Show Validations</h4>
        <p class="list-group-item-text">show validations and verifications of the transnet exported relations</p>
    </a>
</div>